@charset "UTF-8";
body { 
    background-color: rgb(233, 240, 198);
    font-family: var(--fonte-padrao);
    border-radius: 20px;
    margin: auto;
  max-width: 1000px;
  min-width: 300;
}
p {
    margin: 15px 0px;
    text-align: justify;
}
img {
    width: 100%;
    border-radius: 15px;  
    border: 1px solid black; 
}
/* seletores com asteriscos funcional para todas as tags sem exceção, facilitando o uso global*/
* {
    margin: 0px;
    padding: 0px;   
}
/* roots são variavel criadas para facilitar usar valores em seletores diferentes e facilitar alguma configuração posterior */
:root {
    --corh1:  rgb(46, 35, 145);
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}
header {
    background-image: linear-gradient(to bottom, #9aceb5, rgb(182, 212, 185) );
    min-height: 80px;
    text-align: center;
   padding-top: 10px;
   text-shadow: 2px 2px 2px #0000002d;
   margin-top: 10px;
   border-top-left-radius: 15px;
   border-top-right-radius:  15px;
   border-left: 1px  solid black;
   border-right: 1px  solid black;
   border-top: 1px solid black;  
}
header > h1 { 
    color: var(--corh1);
    margin-bottom: 1px;
    font-size: 3em;
}
header > h4 {
    color: rgb(107, 38, 43);
    max-width: 500px;
    margin: auto;
}
nav {
    background-color: rgb(90, 146, 146);
    color:aliceblue;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;  
     border-bottom: 1px  solid black;
     border-left: 1px  solid black;
     border-right:  1px  solid black;     
}
nav > a {
    color:rgb(179, 229, 245);
text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: .3s;
}
nav > a:hover {
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    color: aliceblue;
}
main {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid black;
}
main h1  {
    color: var(--corh1);
    text-align: center;
}
main p {
    text-align: justify;
    margin: 15px, 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.144);
}
main strong:hover {
    text-decoration: underline;
}
aside {
    background-color: rgb(156, 233, 243) ;
    padding: 10px;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
    border: 1px solid black;
    background-image: linear-gradient(to right,  rgb(201, 183, 178), transparent);
    color: aliceblue;
    background-image: linear-gradient(to LEFT,  rgb(142, 155, 230), transparent);
    color: rgb(0, 0, 0);
    
}
aside p {
    text-align:center;  
}
aside h3 {
    background-color: rgba(0, 0, 0, 0.137);
    color:rgb(0, 0, 0);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
}
aside ul {
    list-style-position: inside;
    columns: 3;
    text-align: left;  
    COLOR: BLACK;
    font-size: 20px;
    font-weight: bold;
    
    

}
footer {
    background-color: rgb(171, 250, 201);
    background-image: linear-gradient(to right,  rgb(201, 183, 178), transparent);
    color: rgb(58, 45, 116);
    background-image: linear-gradient(to LEFT,  rgb(142, 155, 230), transparent);
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 20px 20px 10px 10px;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
}
footer p {
    text-align: center;   
}
footer a  {
    color: rgb(39, 57, 105);
    text-decoration: none;   
}
footer a:hover {
    color: rgb(99, 32, 38);
    text-decoration: underline;
}